<!-- Include files -->
<%- include('./frame/header')%>
<%- include('./frame/nav')%> 

<h1>We do web development and hosting</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ab soluta expedita numquam. Numquam rerum, reiciendis sapiente quidem libero eum vero cumque? Quo quod qui, aspernatur non a doloremque tempora!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ab soluta expedita numquam. Numquam rerum, reiciendis sapiente quidem libero eum vero cumque? Quo quod qui, aspernatur non a doloremque tempora!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ab soluta expedita numquam. Numquam rerum, reiciendis sapiente quidem libero eum vero cumque? Quo quod qui, aspernatur non a doloremque tempora!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ab soluta expedita numquam. Numquam rerum, reiciendis sapiente quidem libero eum vero cumque? Quo quod qui, aspernatur non a doloremque tempora!</p>
<h1>We do web development and hosting</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ab soluta expedita numquam. Numquam rerum, reiciendis sapiente quidem libero eum vero cumque? Quo quod qui, aspernatur non a doloremque tempora!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ab soluta expedita numquam. Numquam rerum, reiciendis sapiente quidem libero eum vero cumque? Quo quod qui, aspernatur non a doloremque tempora!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ab soluta expedita numquam. Numquam rerum, reiciendis sapiente quidem libero eum vero cumque? Quo quod qui, aspernatur non a doloremque tempora!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum ab soluta expedita numquam. Numquam rerum, reiciendis sapiente quidem libero eum vero cumque? Quo quod qui, aspernatur non a doloremque tempora!</p>

<!-- Include files -->
<%- include('./frame/footer')%>
