<!-- Include files -->
<%- include('./frame/header')%>
<%- include('./frame/nav')%>
<h1>Create Blog Post</h1>
<!-- Form where the blog is created from -->
<div>
    <form action="">
        <label for="heading">Heading</label><br>
        <textarea name="heading" id="heading" cols="30" rows="3"></textarea><br><br>
        
        <label for="message">Message</label><br>
        <textarea name="message" id="message" cols="30" rows="8"></textarea><br><br>
        <button>Submit</button>
    </form>

</div>

<!-- Include files -->
<%- include('./frame/footer')%>
