<!-- Include files -->
<%- include('./frame/header')%>
<%- include('./frame/nav')%>
<h1>Create Blog Post</h1>
<!-- Form where the blog is created from -->
<div>
    <form action="">
        <label for="heading">Heading</label>
        <input type="text" name="headng" id="heading" rows="2">
        <label for="message">Message</label>
        <input type="text" name="message" id="message" rows="4">
        <button>Submit</button>
    </form>

</div>

<!-- Include files -->
<%- include('./frame/footer')%>
