 <!-- Include file(s) -->
<%- include('./frame/header')%>
<%- include('./frame/nav')%> 
<div>
    <form action="">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" >
        <label for="pswd">Password</label>
        <input type="pswd" name="pswd" id="pswd" >
        <button name="signin" id="signin" type="submit">Submit</button>
    </form>

</div>
<!-- Include file(s) -->
<%- include('./frame/footer')%>
