<%- include('./frame/header')%>
<%- include('./frame/nav')%> 

<div>
    <form action="">
        <label for="email">Email</label><br>
        <input type="email" name="email" id="email" ><br><br>
        <label for="pswd">User Type</label><br>
        <select name="role" id="role" >
            <option value="0">User</option>
            <option value="1">Content Creator</option>
        </select><br><br>
        <label for="pswd1">Password</label><br>
        <input type="pswd1" name="pswd1" id="pswd1" ><br><br>
        <label for="pswd2">Confirm Password</label><br>
        <input type="pswd2" name="pswd2" id="pswd2" ><br><br>
        <button name="signup" id="signup" type="submit">Submit</button>
    </form>

</div>
<%- include('./frame/footer')%>
